/* Header & Navigation Bar */

header{
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1;
  align-items: center;
  justify-content: space-around;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: white;
  top: 0; /*This brought the header to the top of the page so I couldn't see the website scroll behind it */
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img{
  margin-right: 12px;
}

.logo span{
  color: MediumAquamarine;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

header nav{
  padding-right: 40px;
}

span a{
  color: black;
}

/* Main Body */

.column{
  display: flex;
  padding-top: 160px;
}

/* Large Column */

.column .large{
  display: flex;
  flex-direction: column;
  width: 630px;
  border: 3px solid black;
  margin-right: 40px;
}

.large h2 {
  border:  1px solid black;
}

/* Main Story */

.main-story span{
  font-size: 40px;
  text-align: left;
  color: white;
  font-weight: bold;
  font-family: georgia;
}

.large .main-story{
  background-image: url(../../Resources/images/img-story-main.png);
  height:300px;
}

/* Fall Story */

.large .earth-spin{
  background-image: url(../../Resources/images/img-fall.png);
  height: 300px;
  margin-top: 15px;
  text-align: center;
  font-family: georgia;
}

.earth-spin span{
  font-size: 30px;
  color: white;
  font-weight: bold;
}

/* Medium Column */

.column .medium{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  border: 2px solid black;
  margin-right: 40px;
}

.medium h2{
  border: 1px solid black;
}

.medium span{
  border: 1px solid black;
}

/* Small Column */

.column .small{
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-right: 40px;
  border: 1px solid black;
}

.small h3{

}
